<form action="/recipes" method="post">
  <div class="form-field">
    <label for="name">Name: </label>
    <input type="text" name="name">
  </div>
  <div class="form-field">
    <label for="name">Ingredients: </label>
    <input type="text" name="ingredients">
  </div>
  <div class="form-field">
    <label for="name">Cook Time: </label>
    <input type="number" name="cook_time">
  </div>
  <input id="submit" type="submit" value="Submit">
</form>